@page "/about"

<ReuContainer>
    <h2>About</h2>

    <p>
        <b>Title Archive</b> (titles.gbx.tools) is an enhanced ManiaPlanet title pack browser focused on archiving.
        The project is fully open-source and you can also archive locally using the desktop application!
    </p>
    <p>
        You can use the application for various purposes:
        <ul>
            <li>Search title packs by name</li>
            <li>Manually download title packs if the ingame store is slow</li>
            <li>View title pack metadata, folders, and file metadata without installing the title packs</li>
            <li>Analytics of player activity on these title packs (historically late, but better late than never)</li>
        </ul>
    </p>
</ReuContainer>

@code {

}
