.title-background {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overview {
    display: flex;
    gap: 1.5rem;
}

.infoarea {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width: 1100px) {
    .overview {
        flex-direction: column;
    }
    .infoarea {
        width: 100%;
    }
}

.playercounts {
    display: flex;
    margin: 0.8rem 0;
}

.playercount {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.playercount .count {
    font-size: 150%;
    font-weight: bold;
}

.card {
    width: calc(100% - 4px);
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    border: 2px solid #333;
    box-shadow: 0 2px 20px #0008;
    margin-top: 1rem;
}

.infos {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 0.5rem;
    background: #5555;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.info-title {
    font-size: 80%;
}

.info-desc {
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
}

.features {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    gap: 0.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.feature {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 0.5rem;
    background: #5555;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.feature-title {
    font-weight: bold;
}

.feature-desc {
    font-size: 70%;
    flex: 1;
    display: flex;
    align-items: center;
}

textarea.script {
    resize: none;
    height: 300px;
    overflow: auto;
    width: calc(100% - 10px);
}

.included-packs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.included-pack {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: #5555;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 1rem 1.5rem;
    white-space: nowrap;
}

    .included-pack div {
        flex: 1;
    }

    .included-pack .creation-date {
        text-align: right;
    }